*{
    margin: 20px;
    padding: 0;
    max-width: 1400px;
}

div{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: -1px;
}

.red{
    background-color: red;
}

.hov{
    border: 2px solid black;
    margin: -3px;
}

.hov:hover{
    background-color: rgb(60, 3, 34);
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
